.register {
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
}

.fa-lock {
  margin-right: 2px;
}

.input-group {
  margin-bottom: 20px;
}

.btn-small{
  margin-left: 40%;
  margin-right: 40%;
}
